{% extends 'base.html' %}
{% load custom_filters %}
{% block title_block %}
Home
{% endblock %}
{% block body_block %}
{% for blog in blogs %}
<h3>{{blog.blog_title}}</h3>
<h4>{{blog.publish_date}}</h4>
<div class="row">
  <div class="col-sm-4">
    <img src="/media/{{blog.blog_images}}" alt="{{blog.blog_title}}" title="{{blog.blog_title}}" width="100%">
  </div>
  <div class="col-sm-8">
    <p>{{blog.blog_content|range_filter|linebreaks}} <a href="{% url 'app_blog:blog_details' id=blog.id %}">Read More</a></p>
    <h6>Posted By: <a href="#">@{{blog.author}}</a></h6>
  </div>
</div>
<hr>
{% endfor %}
{% endblock %}
