{% extends 'base.html' %}
{% block title_block %}
{{blog.blog_title}}
{% endblock %}
{% block body_block %}
<div class="row">
  <div class="col-sm-6">
    <h2>{{blog.blog_title}}</h2>
    <h4>Posted by:@{{blog.author}}</h4>
    <i><h6>Published on:{{blog.publish_date}}</h6></i>
    <i><h6>Updated on:{{blog.update_date}}</h6></i>
    <h6>{{blog.liked_blog.count}} Likes | {{blog.blog_comment.count}} Comments</h6>
  </div>

  <div class="col-sm-6">
    {{blog.blog_content}}
    <hr>
    {% if not liked %}
    <a href="{% url 'app_blog:liked_post' pk=blog.pk %}">
      <i class="fa fa-thumbs-o-up fa-2x" aria-hidden="true"></i>
    </a>
    {% else %}
    <a href="{% url 'app_blog:unliked_post' pk=blog.pk %}">
      <i class="fa fa-thumbs-o-down fa-2x" aria-hidden="true"></i>
    </a>
    {% endif %}
  </div>

</div>
<div class="row">
  <div class="col-sm-6">
    <h5>Comments:</h5>
    {% for comment in blog.blog_comment.all %}
    <p><a href="#">@{{comment.user}}</a> {{comment.comments}}
    <i><h6>{{comment.comment_date}}</h6></i>
    </p>
    {% endfor %}
  </div>
  <div class="col-sm-6">
    <form  method="POST">

    {{comment_form}}
    {% csrf_token %}
    <button type="submit" class="btn btn-primary btn-sm">comment</button>
    </form>
  </div>
</div>


{% endblock %}
